version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: pg_gateway
    environment:
      POSTGRES_DB: payment_gateway
      POSTGRES_USER: gateway_user
      POSTGRES_PASSWORD: gateway_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gateway_user -d payment_gateway"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis_gateway
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: api
    container_name: gateway_api
    ports:
      - "8000:8000"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/payment_gateway
      SPRING_DATASOURCE_USERNAME: gateway_user
      SPRING_DATASOURCE_PASSWORD: gateway_pass
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      #REDIS_URL : redis://redis:6379
      PORT: 8000
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: unless-stopped   
  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: worker
    container_name: gateway_worker
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/payment_gateway
      SPRING_DATASOURCE_USERNAME: gateway_user
      SPRING_DATASOURCE_PASSWORD: gateway_pass
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      #REDIS_URL: redis://redis:6379
      WORKER_MODE: true

    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      api:
        condition: service_healthy

  dashboard:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gateway_dashboard
    ports:
      - "3000:80"
    depends_on:
      - api
    restart: unless-stopped

  checkout:
    build:
      context: ./checkout-page
      dockerfile: Dockerfile
    container_name: gateway_checkout
    ports:
      - "3001:80"
    depends_on:
      - api
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
